[submodule "vendor/cmocka"]
	path = vendor/cmocka
	url = https://git.cryptomilk.org/projects/cmocka.git
[submodule "vendor/libfs"]
	path = vendor/libfs
	url = https://github.com/Nauja/libfs.git
[submodule "vendor/moro8"]
	path = vendor/moro8
	url = https://github.com/Nauja/moro8.git
